h1{
    border: 3px solid black;
    color: white;
    background-color: grey;
    justify-content: center;
    align-items: center;
    width: 40%;
}

a{
    color: rgb(150, 54, 54);
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 3px 8px 22px rgba(94,28,68,0,15);
}

.container{

    text-align: center;
}